services:
  ollama:
    container_name: phishguard-ollama
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_ORIGINS=*
    volumes:
      - ollama_data:/root/.ollama
    restart: always

volumes:
  ollama_data:
